<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= document_title %></title>
  <%= stylesheet_link_tag "admin", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
    <%= render 'shared/header' %>
    <div id="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>  
</body>
</html>
